@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
    font-family: 'CustomFont';
    src: url('./assets/cfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-canvas-default: #fff;
    --color-canvas-subtle: #fff;
    --color-border-default: #30363d;
    --color-accent-fg: #58a6ff;
    --color-accent-emphasis: #1f6feb;
    --color-fg-default: #c9d1d9;
    --color-fg-muted: #8b949e;
}

body {
    background-color: var(--color-canvas-default);
    color: var(--color-fg-default);
    font-family: 'CustomFont', system-ui, -apple-system, sans-serif;
}

@layer base {
    :root {
        --color-primary: 31 128 255;
        --color-secondary: 139 148 158;
    }
}

@layer components {
    .btn-primary {
        @apply duration-300 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium text-white bg-[#1f80ff] hover:bg-white hover:text-[#1f80ff] hover:border-[#1f80ff] focus:outline-none shadow-sm transition-colors;
    }

    .btn-secondary {
        @apply duration-300 inline-flex items-center px-4 py-2 border border-[#1f6feb] text-sm font-medium text-[#1f6feb] bg-transparent hover:bg-[#1f6feb] hover:text-white focus:outline-none shadow-sm transition-colors;
    }

    .nav-link {
        @apply duration-300 text-[#1f6feb] hover:text-[#58a6ff] transition-colors;
    }
}